[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defautBranch = main
[user]
	name = Magnus Bjerke Vik
	email = post@magnusbv.no
[alias]
	s = status
	o = switch
	d = diff
	dc = diff --cached
	r = restore
	rp = restore -p
	ap = add -p
	cm = commit -m
	pl = pull --ff-only
	ps = push
	rbm = rebase -i origin/main
[push]
	autoSetupRemote = true
