.bash*
.cache/
.cargo/
.config/.mozilla/
.config/Code - OSS/
.config/WebCord/
.config/dconf/
.config/discord/
.config/dolphinrc
.config/go/
.config/pavucontrol.ini
.config/pulse/
.config/session/
.config/systemd/
.factorio/
.histfile
.local/
.mozilla/
.npm/
.pki/
.pulse-cookie
.rustup/
.ssh/
.steam/
.steampath
.steampid
.vscode-oss/
.zcompdump
Downloads/
dev/
