[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defautBranch = main
[user]
	name = Magnus Bjerke Vik
	email = post@magnusbv.no
[alias]
	s = status
	o = switch
	d = diff
	dc = diff --cached
	r = restore
  rs = restore --staged
	rp = restore -p
	ap = add -p
	cm = commit -m
  ca = commit --amend
	pl = pull --ff-only
	ps = push
  psf = push --force-with-lease
	rbm = rebase -i origin/main
  rbc = rebase --continue
[push]
	autoSetupRemote = true
