[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defautBranch = main
[user]
	name = Magnus Bjerke Vik
	email = post@magnusbv.no
[alias]
	ap = add -p
	cm = commit -m
	s = status
	pl = pull --ff-only
	ps = push
[push]
	autoSetupRemote = true
